@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


body {
  font-family: "Ubuntu", sans-serif;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.img {
  height: 120px;
  margin-left: 60px;
}

.top-bar {
  padding: 15px 0;
  font-weight: bold;
  background: #fff;
}
.short-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.short-nav ul li {
  margin-left: 20px;
}
.short-nav ul li:first-child {
  margin-left: 0;
}
.short-nav ul li a {
  color: #2e2e2e;
  font-size: 14px;
  text-decoration: none;
}
.short-nav ul li span {
  margin-right: 10px;
}
.mlr-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.short-nav .social-share-list a {
  color: rgb(226, 17, 17);
  font-size: 14px;
  width: auto;
  height: auto;
  padding: 5px;
  background: transparent;
}
.short-nav .social-share-list a:hover {
  background: transparent !important;
  transition: 0.1s;
}
.apply-btn .btn {
  min-height: auto;
  border: black;
  border-top: black;
  padding: 9px 14px 10px;
  height: auto;
  background: rgba(243, 239, 239, 0.08);
}
.top-bar.th-bg .short-nav * {
  font-size: 20px;
  color: rgb(5, 5, 5);
}

.nav-link {
  font-size: 18px;
  margin-right: 20px;
  font-weight: 500;
}

.d-block {
  height: 500px;
  width: 720px;
}

.eff {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: brown;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.effect {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
  text-align: center;
}

.effect::before {
  content: "";
  position: absolute;
  /* left: 0; */
  right: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(to right, #3f5efb, #fc466b);
  transition: width 0.25s ease-out;
}

.effect:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.team {
  height: 400px;
  width: 100%;
}

.s2 p {
  text-align: justify;
}

.s3 h2 {
  text-align: center;
}
.slider {
  max-width: 1150px;
  /* overflow: hidden; */
  place-items: center;
  display: flex;
}

.slider .card {
  background: #fff;
  flex: 1;
  margin: 0 10px;
}

.slider .card .image {
  height: 200px;
  width: 100%;
}

.slider .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider .card .content {
  padding: 10px 20px;
}
.card .content .title {
  font-size: 25px;
  font-weight: 600;
}

.card .content .sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}

.card .content p {
  text-align: justify;
  margin: 10px 0;
}

.card .content .btn {
  display: block;
  text-align: left;
  margin: 10px 0;
  transition: 0.2s;
}

.card .content .btn:hover {
  transform: scale(0.9);
}

.footer-top {
  background: #111;
  padding: 80px 0;
}

.footer-top .one h2 {
  color: #fff;
}

.one h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}

.footer-top .one p {
  color: #fff;
}

.two h2 {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
}

.two h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}

.two ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}

.two ul li a {
  color: #999;
  text-decoration: none;
}

.three h2 {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
}

.three h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}

.three p {
  color: #999;
}

.three a {
  background: #111;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.three a i {
  font-size: 18px;
  color: #fff;
  padding: 10px 14px;
}

.four h2 {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
}

.four h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}

.four {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.four ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.four ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}

.four ul li a {
  color: #999;
  text-decoration: none;
}

.item {
  transition: 0.5s ease-in-out;
}

.item:hover {
  filter: brightness(80%);
}

.add {
  margin-top: 100px;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

.add p {
  margin-left: 10px;
}

.add i {
  font-size: 30px;
}

.qr {
  height: 250px;
}


